{% extends "base.html" %}

{% block content %}
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %}
        <h2>Settings</h2>
        <dl class="row">
            <dt class="col-sm-3 html">Login</dt>
            <dd class="col-sm-9 html">{{ user.username }}</dd>

            <dt class="col-sm-3 html">Date of registration</dt>
            <dd class="col-sm-9 html">{{ user.userprofile.get_date_joined}}</dd>

            <dd class="col-sm-12 html">
                <form class="form" method="POST" action="{% url 'users:edit_profile' user.id %}"
                          enctype="multipart/form-data">
                    {% csrf_token %}
                    <dl class="row">
                        <dt class="col-sm-3 html">Email</dt>
                        <dd class="col-sm-9 html">
                            <div class="control-group {% if new_fields_form.email.errors %} has-error {% endif %}">
                                <div class="controls">{{ new_fields_form.new_email}}</div>
                            </div>
                        </dd>

                        <dt class="col-sm-3 html">Avatar</dt>
                        <dd class="col-sm-9 html">
                            <div class="control-group {% if new_fields_form.avatar.errors %} has-error {% endif %}">
                                <div><input type="file" name="new_avatar">
                                    {% if new_fields_form.avatar.errors %}{{ new_fields_form.avatar.errors }}{% endif %}
                                </div>
                             </div>
                        </dd>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </dl>
                </form>
            </dd>

            <dt class="col-sm-3 html">You voted for the question:</dt>
            {% if user.userprofile.title_voted_question %}
                <dd class="col-sm-6 html">
                    <a href="{{ user.userprofile.get_url_voted_question }}">
                        {{ user.userprofile.title_voted_question }}
                    </a>
                </dd>
                <dd class="col-sm-3 html">
                    <form action="{% url 'users:profile' user.id %}" method="POST">
                        {%csrf_token %}
                        <input type="submit" name="change_choice" value="Change question">
                    </form>
                </dd>
            {% else %}
                <dd class="col-sm-9 html">No question else</dd>
            {% endif %}

            <dt class="col-sm-3 html">You voted for the answer:</dt>
            {% if user.userprofile.title_voted_answer %}
                <dd class="col-sm-6 html">
                    <a href="{{ user.userprofile.get_url_voted_answer }}">{{ user.userprofile.title_voted_answer }}</a>
                </dd>
                <dd class="col-sm-3 html">
                    <form action="{% url 'users:profile' user.id %}" method="post">
                        {%csrf_token %}
                        <input type="submit" name="change_choice" value="Change answer">
                    </form>
                </dd>
            {% else %}
                <dd class="col-sm-9 html">No answer else</dd>
            {% endif %}
        </dl>
    {% endif %}
{% endblock %}