{% extends "base.html" %}

{% block content %}
  <h1>
    <dl class="row">
      <dd class="col-sm-6 html"><a href="/">New questions</a></dd>
      <dd class="col-sm-6 html"><a href="{% url 'qa:index_pop' %}" class="text-muted">Hot questions</a></dd>
    </dl>
  </h1>
  <hr>
  {% for q in list_questions %}
    <dl class="row">
      <dd class="col-sm-2 html">{{ q.rating }}<div>votes</div></dd>
      <dd class="col-sm-2 html">{{ q.answer_set.count }}<div>answers</div></dd>
      <dt class="col-sm-6 html">
        <a href="{% url 'qa:question' q.id %}"><h3>{{ q.title }}</h3></a>
        {% for tag in q.get_tags %}
          <span class="badge badge-success">{{ tag.text }}</span>
        {% endfor %}
      </dt>
      <dt class="col-sm-2 html">
        <a href ="{% url 'users:profile' q.author.id %}">{{q.author.username}}</a>
      </dt>
    </dl>
    <hr>
  {% endfor %}


  <div class="pagination">
    <span class="step-links">
        {% if objects_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ objects_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects_list.number }} of {{objects_list.paginator.num_pages }}.
        </span>

        {% if objects_list.has_next %}
            <a href="?page={{ objects_list.next_page_number }}">next</a>
            <a href="?page={{ objects_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}