{% extends "base.html" %}

{% block content %}
<h2>Ask a question</h2>
  {% for e in form.non_field_errors %}
    <div> class="alert alert-danger">{{ e }}</div>
  {% endfor %}
  <form method="POST" action="{% url 'qa:ask' %}">
    {% 	csrf_token %}
    <div class="control-group{% if form.title.errors %}has-error{% endif %}">
      <label>{{ form.title.label }}</label>
      <div>{{ form.title}}</div>
    </div>
    <div class="control-group{% if form.text.errors %}has-error{% endif %}">
      <label>{{ form.text.label }}</label>
      <div>{{ form.text}}</div>
    </div>
    <div class="control-group{% if form.tags.errors %}has-error{% endif %}">
      <label>{{ form.tags.label }}</label>
      <div>{{ form.tags}}</div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Ask</button>
    </div>
  </form>
{% endblock %}